<h4> Team_id: <%=@teaml.id %></h4>
<h4> Team Name: <%=@teaml.name %></h4>
<h4>  Team Notes: <%=@teaml.notes  %> </h4>
<h4>  Team members: </h4>
<% @users_t.each do |ut| %>
<h5><%=ut.name %></h5>
<%end%>









